{
  "presets": [
    "babel-preset-env",
    "babel-preset-es2015",
    "vue"
  ],
  "plugins": ["transform-class-properties", ["transform-runtime", {
    "helpers": false, // defaults to true
    "polyfill": false, // defaults to true
    "regenerator": true, // defaults to true
    "moduleName": "babel-runtime" // defaults to "babel-runtime"
  }]]
}